
[V200R003C00]
#
 sysname AR10
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 11.0.0.10 255.255.255.0 
#
interface GigabitEthernet0/0/1
 ip address 91.0.0.1 255.255.255.0 
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
interface LoopBack0
 ip address 10.10.10.10 255.255.255.0 
#
bgp 200
 peer 7.7.7.7 as-number 200 
 peer 7.7.7.7 connect-interface LoopBack0
 peer 11.0.0.11 as-number 300 
 group huawei internal
 peer huawei connect-interface LoopBack0
 peer 8.8.8.8 as-number 200 
 peer 8.8.8.8 group huawei 
 peer 9.9.9.9 as-number 200 
 peer 9.9.9.9 group huawei 
 #
 ipv4-family unicast
  undo synchronization
  network 10.10.10.0 255.255.255.0 
  network 192.168.11.0 
  peer 7.7.7.7 enable
  peer 7.7.7.7 next-hop-local 
  peer 11.0.0.11 enable
  peer huawei enable
  peer huawei next-hop-local 
  peer 8.8.8.8 enable
  peer 8.8.8.8 group huawei 
  peer 9.9.9.9 enable
  peer 9.9.9.9 group huawei 
#
rip 1
 version 2
 network 91.0.0.0
 network 10.0.0.0
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return