
[V200R003C00]
#
 sysname AR1
#
 board add 0/1 2SA 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
acl number 2000  
 rule 5 permit source 172.16.2.0 0.0.0.127 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface Serial1/0/0
 link-protocol ppp
 ppp chap user hcnp
 ppp chap password cipher %$%$jqqY,3WbRUK(^rQ|=B%R,,HH%$%$
 ip address 172.16.3.5 255.255.255.252 
#
interface Serial1/0/1
 link-protocol ppp
#
interface GigabitEthernet0/0/0
 ip address 200.1.1.1 255.255.255.0 
 nat outbound 2000
#
interface GigabitEthernet0/0/1
#
interface GigabitEthernet0/0/2
 ip address 172.16.3.2 255.255.255.252 
#
interface NULL0
#
ospf 1 
 area 0.0.0.0 
  network 172.16.3.5 0.0.0.0 
 area 0.0.0.2 
  network 172.16.3.2 0.0.0.0 
#
ip route-static 0.0.0.0 0.0.0.0 200.1.1.2
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return